:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --accent-color: #FF0070;
  --menu-list-color: #FF0070;
  --transparent-accent: rgba(255, 0, 112, 0.4); 
  --title-color: #DB00FF;
  --cards-title-text: #FF0070;
  --card-title-text: #000028;
  --card-text: #F1B2CE;
}

.header__rec {
  display: initial;
}